.mx-auto img{
    width: 200px;
    padding: 25px 0;
    position: relative;
    

}
.mx-auto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
}
.list-unstyled{
    padding: 5px 0;
    font-weight: 500;
    font-size: 14px;
}
.list-unstyled a{
    color: black;
    text-transform: uppercase;
}
.list-unstyled-menu li{
    list-style: none;

}
.nav-item a{
    color: black;
    font-weight: 500;
    font-size: 16px;

}

 .line-3 {
    margin: auto;
    position: relative;
    height: 1px;
    background-color: black;
    width: 100%;

}
.footer-follow img{
    width: 18px;
    padding-left: 3px;
}
.footer-follow{
    display: flex;
    bottom: 44px;
    justify-content: flex-end;
} 
.nav-item-footer a{
    color:black;
    font-weight: 500;
    
}